Package: mylinux-iut
Version: 1.2
Section: admin
Priority: optional
Architecture: all
Depends: mylinux-base, cntlm
Maintainer: Michaël Roy <microygh@gmail.com>
Description: Custom configuration for IUT
